@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --color-principal: #5400A3;
    --color-fundo: #872080;
    --color-black: black;
    --color-white: white;
    --color-text: #B2D3F7;
    --color-teste: #a800a8;

    --font-destaque: 'Monoton';
    --font-destaque2: 'Staatliches';
    --font-principal-text: 'Victor Mono';
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    font-family: var(--font-destaque2);
    font-weight: 300;
    text-align: center;
    color: rgba(255, 255, 255, 0.733);
    background-image: linear-gradient(to bottom, var(--color-black), var(--color-principal));
}

header h1 {
    font-size: 4em;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 98%;
}

p {
    color: var(--color-black);
}

main p {font: Normal 400 1em var(--font-principal-text), 'monospace';}

main a {
    text-decoration: none;
    color: var(--color-white);
    width: 130px;
    height: 45px;
    text-align: center;
}

main a:visited {
    text-decoration: none;
    color: var(--color-white);
}

main a:hover {
    text-decoration: underline;
    color: var(--color-fundo);
    background-color: var(--color-white);
    border-radius: 30px;
    width: 130px;
    height: 45px;
    text-align: center;
    vertical-align: middle;
}

h2 {
    color: var(--color-white);
    font-family: var(--font-destaque2);
}

body {
    background-image: linear-gradient(to bottom, var(--color-principal), var(--color-fundo));
}

#home {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    width: 80%;
    margin: auto;
}

#propaganda {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    justify-content: space-around;
}

#propaganda a {
    margin: 10px 50px 150px;
}

#botão {
    text-decoration: none;
    background-color: rgb(132, 0, 255);
    color: black;
}

#minhafoto {
    border-radius: 203px 128px 70%;
    margin-left: 40px;
    max-width: 500px;
    min-height: 500px;

    border: 8px solid blue;
    border-top-color: chartreuse;
    border-bottom-color: yellow;
    border-left-color: red;
}

.sessões {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.quadrado {
    height: 250px;
    width: 500px;
    margin: 10px 20px;
    background-color: aqua;
}

.textproject {
    display: flex;

    width: 650px;
}

.hab {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 10px 20px;
    background-color: aqua;
}

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 3px auto;
    background-color: white;
    height: 70px;
}

.centralizar {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: black;
}